


*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  
}

.footerbutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.display{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tower {
  width: 600px;
  height: 400px;
  border-bottom: 10px solid #000000;
  border-radius: 7px;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 50px 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}
.tower#tower-3 {
  margin: 0;
}
.tower:before {
  width: 10px;
  height: 230px;
  content: '';
  display: flex;
  background: #000000;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 2px);
  z-index: 10;
  border-radius: 30px;
}

.step{
  position: absolute;
  top: 100px;
  right: 50px;
  width: 100px;
  height: 20px;
  font-size: 1.5rem;

}

.restart {

  padding: 100px;

}

.container{
  text-align: center;
}

.name{
  flex:1;
}

.Disks{
  margin:0 auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: center;
  align-items:center; 
}

ul,li{
  z-index: 20;
  list-style:none;
  border-radius: 8px;
  padding: 2;
  margin:0;
}
.selected{
  top: -10rem;
}

.button{
  padding : 20;
  backgroundColor :'#bf3f38';
  color: '#ffffff';
}