
html,
body {
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#canvas {
  width: 395px;
  height: 240px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}


.tower {
  width: 115px;
  height: 117px;
  border-bottom: 5px solid #000000;
  border-radius: 7px;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 25px 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}
.tower#tower-3 {
  margin: 0;
}
.tower:before {
  width: 4px;
  height: 116px;
  content: '';
  display: block;
  background: #000000;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 2px);
  z-index: 10;
  border-radius: 30px;
}

.disk {
  list-style: none;
  height: 16px;
  display: block;
  border-radius: 9px;
  font-size: 0;
  z-index: 20;
}

.disk.hold {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swal2-overlay {
  background-color: white;
}

.disk-1 {
  width: 52.5px;
  background-color: #e91e63;
}

.disk-2 {
  width: 87.5px;
  background-color: #673ab7;
}

.disk-3 {
  width: 122.5px;
  background-color: #3f51b5;
}



.container{
  text-align: center;
}

.top{
  display: flex;
  justify-content: center;
  margin:20px auto;
  max-width: 750px;
}

.name{
  flex:1;
}

.Disks{
  margin:0 auto;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items:center; 
}

button{
  margin:10px ;
}
ul,li{
  list-style:none;
  padding: 0;
  margin:0;
}
